NEXT_PUBLIC_GTM_ID=GTM-xxxxxxx
NEXT_PUBLIC_API_URL=https://kratikos-dev-backend-development.up.railway.app
NEXT_PUBLIC_APP_STORE_URL=https://apps.apple.com/us/app/kratikos/id6755405905
NEXT_PUBLIC_PLAY_STORE_URL=https://play.google.com/store/apps/details?id=br.com.kratikos.kratikos&hl=pt_BR
